---
name: Release to Galaxy

'on':
  release:
    types: [published]

jobs:
  publish:
    name: Publish to Ansible Galaxy
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install Ansible
        run: |
          python -m pip install --upgrade pip
          pip install ansible

      - name: Publish to Galaxy
        env:
          ANSIBLE_GALAXY_TOKEN: ${{ secrets.GALAXY_API_KEY }}
        run: |
          ansible-galaxy role import --token $ANSIBLE_GALAXY_TOKEN bpmconsultag harvesterpy
